* {
    margin: 0;
    padding: 0;
}

:root {
    --dark: '#1A181B';
    --violet: '#564D65';
    --cyan: '#3E8989';
    --emerald: '#2CDA9D';
    --softWhite: '#F0F6F6';
}

body {
    border: 2px solid red;
    width: screen;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto';
    background-image: url('./img/bear.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



header {
    position: absolute;
    top: 20px;
}

#info {
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: xx-large;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}